.DS_Store
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib
example/**/*.mjs
src/**/*.mjs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
/node_modules/
yarn-error.log
/.cache/
/dist/
/dist-ssr/
*.local
